{% extends "base.html" %}

{% block content %}
  <h1>{{ trainer.user.first_name }} {{ trainer.user.last_name }}</h1>
  <ul>
    <li>First name: {{ trainer.user.first_name }}</li>
    <li>Last name: {{ trainer.user.last_name }}</li>
    <li>Specialization: {{ trainer.specialization }}</li>
  </ul>
  <h2>Workouts</h2>
  {% if trainer.workouts.all %}
    <ul>
      {% for workout in trainer.workouts.all %}
      <li>
        <a href="{% url 'gym:workout-detail' pk=workout.id %}">
          {{ workout.name }} ({{ workout.description }})
        </a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>This trainer has no workout assigned.</p>
  {% endif %}
{% endblock %}